body{
    background: red;
}
.quot-content {
    border-radius:3px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    position:relative;
    margin:8% auto auto auto;
    width:450px;
    padding:40px 50px;
    display:table;
    background-color:#fff;
}
.text {
    text-align:center;
    width:450px;
    height:auto;
    clear:both;
    font-weight:500;
    font-size:1.75em;
}
.author {
    width:450px;
    height:auto;
    clear:both;
    padding-top:20px;
    font-size:1em; 
    text-align:right;
}